[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spr-adbi = {ref = "master", git = "https://github.com/mokemokechicken/spr_adbi.git"}

[dev-packages]

[requires]
python_version = "3.6"
